/* Base Styles */
body {
    background-color: whitesmoke;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    width: 50%;
    display: grid;
    height: fit-content;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 30px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0.1, 0.1, 0.1, 0.2);
  }
  
  h1 {
    grid-column: span 2;
    font-size: 28px;
    color: teal;
    text-align: center;
  }
  
  .title {
    border-bottom: 2px solid teal;
    padding-bottom: 5px;
  }
  
  .field {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid teal;
    font-size: 16px;
  }
  
  .gender {
    padding: 10px;
    border: 2px solid teal;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .gender h3 {
    margin: 0;
    color: teal;
  }
  
  #dropdown {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid teal;
    font-size: 16px;
  }
  
  #policy {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  #policy span {
    color: teal;
    cursor: pointer;
  }
  
  .btn{
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: teal;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
  }
  .upload {
    grid-column: span 2;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: teal;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .upload {
    background-color: rgb(51, 119, 119);
  }
  
  p {
    grid-column: span 2;
    font-size: 14px;
    color: gray;
    text-align: center;
  }
  
  p span {
    color: teal;
    cursor: pointer;
  }
  
  /* Media Queries */
  @media screen and (max-width: 900px) {
    .form {
      width: 80%;
      grid-template-columns: 1fr;
      height: fit-content;
    }
    .field{
        grid-column: span 2;
    }
    .upload {
      border-radius: 15px;
      padding: 10px;
      width: 50%;
    }
    .gender{
        grid-column: span 2;
    }
    .btn{
      border-radius: 15px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .form {
      width: 90%;
      padding: 20px;
      gap: 15px;
    }
  
    h1 {
      font-size: 20px;
    }
  
    .field, #dropdown {
      font-size: 14px;
      padding: 8px;
    }
  
    .upload {
      padding: 8px;
      font-size: 14px;
      width: 50%;
    }
  
    #policy {
      align-items: flex-start;
    }
  
    p {
      font-size: 12px;
    }
  }
  